version: 2.1

jobs:
  deploy:
    docker:
      aws-cli: geomidas/docker-aws-kubectl-helm:latest
    steps:
      - checkout
      - run:
          name: Get the EKS kubeconfig file 
          command: export KUBECONFIG=$HOME/.kube/kubeconfig && /home/circleci/bin/aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
      - run:
          name: Initialize helm
          command: helm init --client-only --kubeconfig=$HOME/.kube/kubeconfig
      - run:
          name: Add helm repo
          command: helm repo add stable https://kubernetes-charts.storage.googleapis.com/
      - run:
          name: Create monitoring namespace
          command: kubectl get ns monitoring || kubectl create ns monitoring
      - run:
          name: Install Prometheus
          command: helm upgrade --install prometheus stable/prometheus --namespace monitoring
