version: 2.1
executors:
  my-executor:
    docker:
      - image: geomidas/docker-aws-kubectl-helm:latest
jobs:
  deploy:
    executor: my-executor
    steps:
      - checkout
      - run:
          name: Get the EKS kubeconfig file 
          command: export KUBECONFIG=$HOME/.kube/kubeconfig && aws eks --region $AWS_DEFAULT_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
      - run:
          name: Add helm repo
          command: helm repo add stable https://kubernetes-charts.storage.googleapis.com/
      - run:
          name: Install Prometheus
          command: kubectl config view --raw >~/.kube/config && helm upgrade --install prometheus stable/prometheus --namespace default
workflows:
  version: 2
  helm:
    jobs:
      - deploy